.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button{
  margin-left: 5px;
  font-family: monospace;
}

label{
  font-family: monospace;
}
input, select,textarea {
  margin-top: 5%;
  font-family:cursive!important
}
