<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<div class="container">
  <div class="card" id="profile">
    <div class="card-header" >
       <b>Hello {{User.name}}</b>
    </div>
  <form [formGroup]="form" (ngSubmit)="updateProfile(form)"  enctype="multipart/form-data" >
  <div class="card-body">
    <h3>Update Profile</h3>

    <div class="row">
      <div class="container">
          <div *ngIf="userData.length; else upload" class="form-group" >
            <img *ngIf="previewUrl;else prev" src="{{previewUrl}}" alt="not uploaded" id="pic">
            <ng-template #prev>
              <img src="{{userData[0].profile}}" alt="not uploaded" id="pic" (click)="uploadImage($event)">
            </ng-template>
          </div>
          <ng-template #upload>
            <img src="../../assets/User.jpg" alt="" id="pic">
          </ng-template>
          <input type="file" formControlName="pfp" id="files" (change)="capture($event)" >
      </div>

      <div class="form-group profile">
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" class="form-control" value="{{User.name}}">
      </div>
      <div class="form-group profile">
        <label for="email">Email</label>
        <input type="text" formControlName="email" id="email" class="form-control" value="{{User.email}}">
      </div>

      <input type="hidden" id="user" formControlName="id" value="{{User.id}}" >
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-success my-2">Update</button>
  </div>
  </form>
  </div>
</div>
