<div class="container">
  <div class="card" id="profile">
    <div class="card-header">
       <b>Hello {{User.name}}</b>
    </div>
  <form [formGroup]="form" (ngSubmit)="updateProfile(form)"  enctype="multipart/form-data" >
  <div class="card-body">
    <h3>Update Profile</h3>
    <div class="row">
      <div class="container">
          <div *ngIf="User.pfp;else upload" class="form-group" id="pic">
            <img src="{{User.pfp}}" alt="not uploaded" >
          </div>
          <ng-template #upload>
            <img src="../../assets/User.jpg" alt="" id="pic">
            <input type="file" formControlName="pfp" >
          </ng-template>
      </div>
      <div class="form-group profile" >
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" class="form-control" value="{{User.name}}">
      </div>
      <div class="form-group profile">
        <label for="email">Email</label>
        <input type="text" formControlName="email" id="email" class="form-control" value="{{User.email}}">
      </div>
      <div class="form-group profile" >
        <label for="pass">Password</label>
        <input type="text" formControlName="pwd" placeholder="Change Password" id="pass" class="form-control" value="{{User.email}}">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-success my-2">Update</button>
  </div>
  </form>
  </div>
</div>
