#profile{
  width: 60%;
  margin-left: 20%;
}
label{
  font-weight: 600;
  margin-top: 3px;
}

.profile{
  margin-top: 4%;
}

#pic{
  border-radius: 90%;
  height: 160px;
  width: 160px;
  background-color: aqua;
  margin-left: 35%;
}

button{
  float: right;
}
.card-header{
  font-family: monospace;
}

li{
  list-style-type: none;
  margin: auto;
}

ul{
  display: flex;
}
