<div class="container">
  <div class="card" id="profile">
    <div class="card-header" >
       <b>Hello {{User.name}}</b>
    </div>
  <form [formGroup]="form" (ngSubmit)="updateProfile(form)"  enctype="multipart/form-data" >
  <div class="card-body">
    <h3>Update Profile</h3>

    <div class="row">
      <div class="container">
          <div *ngIf="userData.length; else upload" class="form-group" >
            <img src="{{userData[0].profile}}" alt="not uploaded" id="pic">
          </div>
          <ng-template #upload>
            <img src="../../assets/User.jpg" alt="" id="pic">
          </ng-template>
          <input type="file" formControlName="pfp" (change)="capture($event)" >
      </div>
       <div *ngIf="file">
        <section class="file-info">
          File Details :
          <ul>
            <li>{{file.name}}</li>
            <li>{{file.type}}</li>
            <li>{{file.size}}</li>
          </ul>
        </section>
       </div>
      <div class="form-group profile" >
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" class="form-control">
      </div>
      <div class="form-group profile">
        <label for="email">Email</label>
        <input type="text" formControlName="email" id="email" class="form-control" value="{{User.email}}">
      </div>
      <div class="form-group profile" >
        <label for="pass">Password</label>
        <input type="text" formControlName="pwd" placeholder="Change Password" id="pass" class="form-control" value="{{User.pwd}}">
      </div>
      <input type="hidden" id="user" formControlName="id" value="{{User.id}}" >
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-success my-2">Update</button>
  </div>
  </form>
  </div>
</div>
